nav {
    background-color: #F5F5F5;
    justify-content: flex-end;
}

nav li {
    display: inline-block;
    margin-left: 250px;
    vertical-align: top;
    position: justify-right;
    text-align-last: end;
}

nav a {
    color: #6A92B7;
    font-family: 'Lato';
    font-size: 18px;
    font-style: bold;
    padding: 50px;
}

@font-face {
    font-family: "SeoulNamsan";
    src: url("fonts/SeoulNamsan-Bold.ttf");

    @font-face {
        font-family: "SeoulNamsan";
        src: url("fonts/SeoulNamsan-ExtraBold.ttf");
    }

    @font-face {
        font-family: "SeoulNamsan";
        src: url("fonts/SeoulNamsan-Light.ttf");
    }

    @font-face {
        font-family: "SeoulNamsan";
        src: url("fonts/SeoulNamsan-Medium.ttf");
    }

}


h1 {
    color: #F5F5F5;
    font-family: "SeoulNamsan";
    src: url("fonts/SeoulNamsan-ExtraBold.ttf");
    font-size: 64px;
    font-style: bold;
    border-color: #686565;
    border-width: 2px;
    border: 2px #686565;
}

h2 {
    color: #F5F5F5;
    font-family: "SeoulNamsan";
    font-weight: 400;
    font-style: bold;
    font-size: 55px;
    border-color: solid #686565;

}

h3 {
    color: #F5F5F5;
    font-size: 32px;
    font-family: "SeoulNamsan";
    font-style: extra bold;
    stroke: 1px #747470;
}

h4 {
    color: #686565;
    font-fa: 'Lato';
    font-size: 20px;
    font-style: extra bold;
    stroke: 1px #747470;
}

h5 {
    color: #686565;
    font-family: 'SeoulNamsan';
    font-size: 36px;
    font-style: bold;
    stroke: 1px #747470;
}

h6 {
    color: #686565;
    font-family: 'SeoulNamsan';
    font-size: 24px;
    stroke: 1px #747470;
}

h7 {
    color: #686565;
    font-family: 'SeoulNamsan';
    font-size: 24px;
    font-style: bold;
    stroke: 1px #747470;
}

h8 {
    color: #686565;
    font-size: 12px;
    font-family: 'Lato';
    font-style: bold;
}

h9 {
    color: #F5F5F5;
    font-family: "SeoulNamsan";
    font-weight: 400;
    font-style: bold;
    font-size: 24px;
    border-color: solid #686565;

}

h10 {
    color: #6A92B7;
    font-family: "Lato";
    font-weight: 400;
    font-style: bold;
    font-size: 20px;

}

.nav li {
    display: inline-block;
    vertical-align: top;
}

.footer li {
    display: inline-block;

}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 0%;
    left: 2%;
    width: 100% display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-text {
    align-self: flex-start;
    text-align: end;
    padding-right: 50px;
}

.left-text {
    padding-top: 150px;
}


.landingPageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.FeaturedProjects {
    background-color: #F5F5F5;
}

.navigation {
    display:flex;
    padding-top:5px;
}
.logo {
    width:50%
}


.navmenuitems {
    display:flex;
    justify-content: flex-start;
    width: 50%;
}

.PORTFOLIO {
    width: 25%;
    padding-left: 10px;
}

.ABOUT {
    width: 25%;
    padding-left: 10px;
}

.RESUME {
    width: 25%;
    padding-left: 10px;
}

.CONTACT {
    width: 25%;
    padding-left: 10px;
}

.flexcontainer1 {
    display: flex;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 20px;
}


.flexcontainer2 {
    display: flex;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 20px;
}

.flexcontainer3 {
    display: flex;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 20px;
}

.title1 {
    width: 70%;
}

.title2 {
    width: 70%;
}

.title3 {
    width: 70%;
}

.email {
    width: 50%;
    padding-left: 20px;
}

.socials {
    width: 50%;
    text-align-last: left;
    padding-right: 20px;
}

.bottom {
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #6A92B7;
}

.footer {
    text-align: center;
}