nav {
    background-color: #F5F5F5;
    justify-content: flex-end;
}

nav li {
    display: inline-block;
    margin-left: 250px;
    vertical-align: top;
    position: justify-right;
}

nav a {
    color: #6A92B7;
    font-family:'Lato';
    font-size: 18px;
    font-style: bold;
    padding: 50px;
}

@font-face {
    font-family: "SeoulNamsan";         
    src: url("fonts/SeoulNamsan.ttf");
}


body {
    font-family: "SeoulNamsan", 'Lato';
    font-weight: 400;
    font-style: normal;
    border-color: 2px solid #000;
}

h1 {
    color: #F5F5F5;
    font-style: normal;
    border-color: solid #686565;
    font-size: 64px;
    font-style: bold;
    border-color: #686565;
    border-width: 2px;
    border: 2px #686565;
}

h2 {
    color: #F5F5F5;
    font-weight: 400;
    font-style: bold;
    font-size: 55px;
    border-color: solid #686565;

}

h3 {
    color: #F5F5F5;
    font-size: 32px;
    font-style: extra bold;
    stroke: 1px #747470;
}

h8 {
    color: #686565;
    font-size: 12px;
    font-style: extra bold;
}

.nav li {
    display: inline-block;
    vertical-align: top;
}

.footer li {
    display: inline-block;

}

footer {
    background-color: #6A92B7;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 0%;
    left: 2%;
    width: 100% display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-text {
    align-self: flex-start;
    text-align: end;
    padding-right: 50px;
}

.left-text {
    padding-top: 150px;
}


.landingPageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}